
NET "led[7]" IOSTANDARD = LVTTL;
NET "led[6]" IOSTANDARD = LVTTL;
NET "led[5]" IOSTANDARD = LVTTL;
NET "led[4]" IOSTANDARD = LVTTL;
NET "led[3]" IOSTANDARD = LVTTL;
NET "led[2]" IOSTANDARD = LVTTL;
NET "led[1]" IOSTANDARD = LVTTL;
NET "led[0]" IOSTANDARD = LVTTL;
NET "clk" IOSTANDARD = LVCMOS33;

NET "clk" LOC = C9;
NET "east" LOC = H13;

NET "east" IOSTANDARD = LVTTL;

NET "reset" LOC = K17;

NET "reset" IOSTANDARD = LVTTL;

NET "west" LOC = D18;

NET "west" IOSTANDARD = LVTTL;
NET "east" PULLDOWN;
NET "reset" PULLDOWN;
NET "west" PULLDOWN;
#Created by Constraints Editor (xc3s500e-fg320-4) - 2016/10/03
NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 20 ns HIGH 40 %;


NET "led[7]" DRIVE = 8;
NET "led[6]" DRIVE = 8;
NET "led[5]" DRIVE = 8;
NET "led[4]" DRIVE = 8;
NET "led[3]" DRIVE = 8;
NET "led[2]" DRIVE = 8;
NET "led[1]" DRIVE = 8;
NET "led[0]" DRIVE = 8;

# PlanAhead Generated physical constraints 

NET "led[0]" LOC = F12;
NET "led[1]" LOC = E12;
NET "led[2]" LOC = E11;
NET "led[3]" LOC = F11;
NET "led[4]" LOC = C11;
NET "led[5]" LOC = D11;
NET "led[6]" LOC = E9;
NET "led[7]" LOC = F9;
